body {
	font-family: Verdana;
	max-width: 900px;
	margin: 0 auto;
}

h1, h2 {
	font-weight: bold;
}

h1, h2, h3, p, .btn-group {
	margin: 20px;
}

button {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

#save-btn {
	margin: 20px;
	padding: 20px;
}