
.container {
	max-width: 900px;
	margin: 0 auto;
	 
}

.buttons {
	width: 5%;
}

div {
	cursor: pointer; cursor: hand;
}



body {
	font-family: Verdana;
	
}



h1, h2 {
	color: #FC7125;
}


h1, h2, h3, p, .btn-group {
	margin: 20px;
}

button {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.navbar {
background: linear-gradient(#F48F5A, #FC7125); 
margin: 0 auto;
	     min-height: 125px;



}
#save-btn {
	margin: 20px;
	padding: 20px;
}